button {
    padding: 5px;
    background: rgb(200, 200, 200);
    border: 3px solid #ecf0f1;
    background-color:#34495e;
    border-radius: 5px;
    outline: none;
    width:120px;
    height:120px;
    font-size:15px;
    color:#bdc3c7;
}

button:focus {
   outline-color:#ecf0f1;
}

button.drum {
  border-color:#fffa65;
}

button.drum.active, button:active {
    background: #2c3e50;
    border-color: 4px solid #fff200;
    box-shadow: 1px 0px 1px 1px #34495e;
}

button.oscilator {
  border-color:#ffcccc;
}

button.filter {
  border-color:#ffaf40;
}

input[type='range'] {
    overflow: hidden;
    width: auto;
    -webkit-appearance: none;
    background-color: #9a905d;
}

input[type='range']::-webkit-slider-runnable-track {
    height: 20px;
    -webkit-appearance: none;
    color: #fff200;
    margin-top: -1px;
}

input[type='range']::-webkit-slider-thumb {
    width: 0px;
    -webkit-appearance: none;
    cursor: ew-resize;
    background: #fff200;
    box-shadow: -80px 0 0 80px #fff200;
}


p {
  color:#fff200!important;
}


div#kick{
    float:left;
    margin: 0 5px 0 5px;
}
#snare{
    float:left;
    margin: 0 5px 0 5px;
}
#hihat{
    float:left;
    margin: 0 5px 0 5px;
}
#sine{
    float:left;
    margin: 0 5px 0 5px;
}
#reverb{
    float:left;
    margin: 0 5px;
}

input.volume input.pitch input.brightness{
    width:120px;
    height:10px;
}

body {
  background-color:#2c3e50!important;
  font-family: 'Oswald', sans-serif!important;
  color: #ffcccc!important;
}